export default {
  app: {
    name: 'じーっ',
    host: '0.0.0.0',
    port: 3000,
    uri: 'http://localhost:3000'
  },
  db: {
    host: '127.0.0.1',
    port: 27017,
    data: 'jii'
  },
  storage: {
    maxUploadSize: 52428800,
    imageOptimization: true,
    validFileExtensions: [
      '.tar.gz',
      '.tar.bz', '.tar.bz2',
      '.tar.xz',
      '.user.js'
    ]
  },
  clamav: {
    host: '127.0.0.1',
    port: 3310,
    enabled: false
  },
}
