{% extends './layouts/base.html' %}

{% block title %}{{cfg.app.name}}{% endblock %}

{% block content %}
  <form id="uploader" action="/api/v1/upload" data-path="/api/v1/upload" data-max-size="{{cfg.storage.maxUploadSize}}" method="POST" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div id="browse-button" class="waves-effect waves-light btn-large">
          Browse
          <input type="file" id="browse-file-button" name="file" multiple="">
        </div>
        <button id="upload-button" class="waves-effect waves-light btn-large">
          Upload
        </button>
      </div>
      <div class="data" id="files"></div>
    </div>
  </form>
  {% include './partials/upload.html' %}
{% endblock %}
