/* ==========================================================================
 *  Fonts
 * ========================================================================== */
@import url(//fonts.googleapis.com/css?family=Lato:400);

/* ==========================================================================
 *  Main
 * ========================================================================== */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
}

.main {
    min-height: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #2C3E50;
    font-size: 1em;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
    word-spacing: 0px;
}

.header {
    width: 100%;
    padding: 50px 0px 60px 0px;
    border-bottom: 5px dashed rgba(0, 174, 255, 0.45);
    text-align: center;
    background: url('/assets/images/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.header h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    color: #858585;
}

.menu-eth0, .menu-time {
    background-color: #f3f3f5;
    border: 1px solid #e2e2e9;
    padding: 4px 11px;
    margin-bottom: 5px;
}

.menu-eth0 > span,
.menu-time > span {
    float: right;
}

.container {
    margin: auto;
    padding: 10px;
    width: 75%;
}

.container > .menu {
    float: left;
    min-width: 120px;
}

.container > .data {
    overflow: hidden;
}

#files {
    padding-left: 5px;
    list-style: none;
} 

#files li {
    padding: 3px 3px 2px 3px;
    background-color: #f3f3f5;
    border: 1px solid #e2e2e9;
    position: relative;
    margin-bottom: 5px;
}

#files .metadata {
    color: #000;
}

#files .metadata .download-link {
    display: none;
}

#files .metadata .btn-remove,
#files .metadata .btn-download {
    float: right;
    text-align: center;
    width: 32px;
}

#files .metadata .btn-remove {
    cursor: pointer;
    opacity: 0.3;
}

#files .metadata .btn-remove:hover {
    opacity: 0.8;
}

#files .metadata .filesize {
    display: block;
    float: right;
    font-size: 0.9em;
    color: #838383;
}

.success-tick {
    display: none;
    float: right;
    color: #26A04D;
}

button, .btn {
    padding: 10px 0px;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    border: none;
    font-family: 'Lato', sans-serif;

    -webkit-transition: all .10s ease;
       -moz-transition: all .10s ease;
        -ms-transition: all .10s ease;
         -o-transition: all .10s ease;
            transition: all .10s ease;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

button:hover, .btn:hover {
    background-color: #F77872;
}

.color-gray {
    background-color: #6B6868;
}

.color-gray:hover {
 background-color: #7B7878;   
}

.color-pink {
    background-color: #FF6760;
}

.color-pink:hover {
    background-color: #F77872;
}
.progress-wrapper {
    width: 100%;
    margin: auto;
}

.progress {
    height: 3px;
    background-color: #dedede;
    overflow: hidden;
}

.status {
    background-color: #4380D0;
    float: left;
    height: 100%;

    -webkit-transition: width .6s ease;
       -moz-transition: width .6s ease;
        -ms-transition: width .6s ease;
         -o-transition: width .6s ease;
            transition: width .6s ease;
}

.progress-static {
    vertical-align: top;
}

.browse-file-btn {
    position: relative;
}

.browse-file-btn input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 24px;
    direction: ltr;
    cursor: pointer;
}

.version {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: right;
    background-color: rgba(75, 142, 142, 0.5);
}

.version a {
    color: #fff;
    padding-right: 5px;
}