body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

nav .logo {
  color: #444;
  font-size: 30px;
}

.jii-logo {
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.parallax-container {
  min-height: 320px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.parallax img {
  display: block;
  top: -75%;
}

@media only screen and (max-width: 990px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width: 2000px) {
  .parallax img {
    top: -150%;
  }
}

form p {
  margin: 0px;
}

.card .card-action a {
  margin-right: 0px;
}

.container .row {
  margin-top: 15px;
}

#files .progress {
  display: none;
  margin: 13px 0 13px 0 !important;
}

#files .processing {
  display: none;
  height: 30px;
  text-align: right;
}

#files .preloader-wrapper {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#files .result {
  text-align: right;
}

#files .download-copy,
#files .download-link,
#files .file-error {
  display: none;
}

#files .download-copy {
  color: #ffab40;
}

#files .download-copy:hover {
  color: #ffd8a6;
}

#files .file-remove,
#files .download-copy {
  cursor: pointer;
}

#files .file-remove {
  opacity: 0.3;
}

#browse-button,
#upload-button {
  width: 49.5%;
}

#upload-button {
  position: relative;
  float: right;
}

#browse-button input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 24px;
  direction: ltr;
  cursor: pointer;
}

input.filename {
  border-bottom: none !important;
  box-shadow: none !important;
  margin: 0;
}

footer.page-footer {
  margin: 0;
  padding-top: 0px;
}

nav.footer-container {
  background-color: transparent;
  height: 53px;
  line-height: 53px;
}
