<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %}</title>
    {% include "../partials/header.html" %}
  </head>
  <body>
    <header>
      <nav class="white">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="logo">
            <img src="/assets/images/jii-logo.png" width="48px" height="48px" class="jii-logo" alt="じーっ">
            {% block title %}{% endblock %}
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="parallax-container" id="index-banner">
        <div class="parallax">
          <img src="/assets/images/header.png" alt="じーっ">
        </div>
      </div>
      {% block content %}{% endblock %}
    </main>
    {% include "../partials/footer.html" %}
  </body>
</html>
